{% extends "base.html" %}
{% block content %}
<h1>Passagens</h1>
<p>Sua origem é: {{ form.origin.value }}</p>
<p>Seu destino é: {{ form.destination.value }}</p>
<p>data de partida é: {{ form.date_departure.value }}</p>
<p>Data de retorno é: {{ form.date_back.value }}</p>
<p>Data de pesquisa é: {{ form.date_search.value }}</p>
<p>Tipo de classe de viagem: {{ form.travel_class.value }}</p>
<p>Informações extras: {{ form.informations.value }}</p>
<p>E-mail: {{ form.email.value }}</p>
{% endblock %}